include HACKING
include LICENSE
include NOTICE
include README.rst
include VERSION
include check.sh
include cpp_code/Makefile
include cpp_code/obj/.gitkeep
include cpp_code/include/CrossCat/Cluster.h
include cpp_code/include/CrossCat/ComponentModel.h
include cpp_code/include/CrossCat/ContinuousComponentModel.h
include cpp_code/include/CrossCat/CyclicComponentModel.h
include cpp_code/include/CrossCat/DateTime.h
include cpp_code/include/CrossCat/Matrix.h
include cpp_code/include/CrossCat/MultinomialComponentModel.h
include cpp_code/include/CrossCat/RandomNumberGenerator.h
include cpp_code/include/CrossCat/State.h
include cpp_code/include/CrossCat/View.h
include cpp_code/include/CrossCat/constants.h
include cpp_code/include/CrossCat/numerics.h
include cpp_code/include/CrossCat/utils.h
include cpp_code/include/CrossCat/weakprng.h
include cpp_code/tests/bessamp.cpp
include cpp_code/tests/bessel.cpp
include cpp_code/tests/test_cluster.cpp
include cpp_code/tests/test_component_model.cpp
include cpp_code/tests/test_continuous_component_model.cpp
include cpp_code/tests/test_matrix.cpp
include cpp_code/tests/test_mixed_types.cpp
include cpp_code/tests/test_multinomial_component_model.cpp
include cpp_code/tests/test_numerics.cpp
include cpp_code/tests/test_random_number_generator.cpp
include cpp_code/tests/test_state.cpp
include cpp_code/tests/test_view.cpp
include cpp_code/tests/test_view_speed.cpp
include pythenv.sh
include requirements.txt
include setup.py
