include HACKING
include LICENSE
include NOTICE
include README.rst
include VERSION
include check.sh
include setup.py
include requirements.txt
recursive-include cpp_code *.h
recursive-include src/cython_code *.pyx *.cpp
