[permission image_range]
from_port = 8000
to_port = 8000

[permission server_range]
from_port = 8007
to_port = 8008

[cluster crosscat]
extends = smallcluster
CLUSTER_SIZE = 2
CLUSTER_USER = crosscat
CLUSTER_SHELL = bash
# crosscat preinstalled
# NODE_IMAGE_ID = ami-41f0d328
# official starcluster AMI
NODE_IMAGE_ID = ami-765b3e1f
NODE_INSTANCE_TYPE = c3.large
permissions = server_range, image_range
plugins = crosscat, hadoop, ipcluster

[plugin crosscat]
SETUP_CLASS = crosscat.starcluster_plugin.crosscatSetup

[plugin hadoop]
setup_class = starcluster.plugins.hadoop.Hadoop

[plugin ipcluster]
setup_class = starcluster.plugins.ipcluster.IPCluster
enable_notebook = True
notebook_directory = notebooks
# set a password for the notebook for increased security
# notebook_passwd = crosscat
