Source: crosscat
Maintainer: Taylor R Campbell <riastradh+probcomp@csail.mit.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9),
	ccache,
	cython (>= 0.17.1),
	dh-python,
	libboost-all-dev,
	python,
	python-setuptools
X-Python-Version: >= 2.6

Package: crosscat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Bayesian method for analyzing high-dimensional data.
	CrossCat is a domain-general, Bayesian method for analyzing
	high-dimensional data tables.
