.container{
	width:90%;
	max-width: 960px;
	margin: 0 auto;
}

a:hover{
	text-decoration: none;
}
img{
	max-width: 100%;
	margin:0 auto;
}
img.logo{
	height: 160px;
	max-width:100%;
	margin:10px;
}

img.logo-large{
	height: 200px;
	max-width:100%;
	margin:10px;
}

h1:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}

.text-center{ text-align: center;}
.text-right{ text-align: right;}
.text-left{ text-align: left;}