---
title: Welcome to CrossCat
---

<p class="lead">
	A fully Bayesian nonparametric method for analyzing heterogenous, high dimensional data.
</p>

<div class="alert alert-info" align="center">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h3><a href="https://github.com/mit-probabilistic-computing-project/crosscat" target="_blank">CrossCat Developer Alpha 0.1.0 Released!</a></h3>
</div>

<div class="row">
	<div class="col-md-12">
		<a id="Overview"></a><h1>Overview</h1>
		<p>CrossCat is a fully Bayesian nonparametric method for analyzing heterogenous, high dimensional data. It yields an estimate of the underlying full joint distribution, including the dependencies between variables, along with efficient samplers for every conditional distribution. The method is domain general, unsupervised and has no free parameters that require tuning. Thus, CrossCat provides a generic method for analyzing these data, where the output can be queried to answer an extremely wide array questions about the rows and attributes. Unlike standard statistical approaches, CrossCat does not make restrictive assumptions---such as linearity---and therefore provides reliable inferences without specific training in statistics. </p>

		<p>The ability to analyze large, heterogenous high-dimensional datasets is critical across fields. Typically these datasets take the form of tables with rows representing entities and columns representing entity attributes and can be as large as millions of rows and hundreds of columns. One such data source may be a medical records database, the entities are individual persons and their attributes are health/medical related information about them such as height, weight, bmi, common complaints, etc.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<a id="Download"></a><h1>Download</h1>
		<p>
		Release v0.1:
		[<a href="https://docs.google.com/file/d/0B_x0H2s37jOVTEVVcDc2cjZlSlU/edit?usp=drive_web">VirtualBox VM</a>] (<a href="https://www.virtualbox.org/wiki/Downloads">player</a>) <!-- VMware VM (<a href="https://my.vmware.com/web/vmware/free#desktop_end_user_computing/vmware_player/6_0">player</a>) --!>
		Documentation: [<a href="https://github.com/mit-probabilistic-computing-project/vm-install-crosscat/blob/master/VM_README.md">VM README</a>] [<a href="https://docs.google.com/file/d/0B_CtKGJ4pH2TdmNRZkhmamg5aVU/edit?usp=drive_web">Python Client</a>] [<a href="https://docs.google.com/file/d/0B_CtKGJ4pH2TeVo0Zk5IT3V6S0E/edit?usp=drive_web">C++ backend</a>]
		Source: [<a href="https://github.com/mit-probabilistic-computing-project/crosscat">github</a>]
		</p>
		<hr>
		
		<a id="Publications"></a><h1>Publications</h1>
		<p>Shafto, P., Kemp, C., Mansinghka, V.K., & Tenenbaum, J.B. (2011). A probabilistic model of cross-categorization. Cognition, 120, 1-25. <a href="http://louisville.edu/psychology/shafto/people/files/crosscat_submitted_02-07-11.pdf">pdf</a></p>
		<p>Mansinghka, V., Shafto, P., Jonas, E., Petschulat, C., Gasner, M., & Tenenbaum, J.B. (accepted pending revision). CrossCat: A fully Bayesian nonparametric method for analyzing heterogenous, high dimensional data. Journal of Machine Learning Research.</p>
		<p>Li, D. & Shafto, P. (2011). Bayesian hierarchical cross-clustering.  Proceedings of the Fourteenth International Conference on Artificial Intelligence and Statistics. JMLR W&CP, 15, 443-451.</p>

		<hr>
		
		<a id="About"></a><h1>About</h1>
		<p>CrossCat and its sister project, BayesDB, are being developed by Jay Baxter, Dan Lovell, and Vikash Mansinghka at Massuchusetts Institute of Technology and by Pat Shafto and Baxter Eaves at University of Louisville.</p>
		<p>If you have any comments or questions, please feel free to email us at crosscat [AT] mit.edu.</p>
		<p>This research and development is supported in part by the DARPA XDATA program.</p>
	</div>
</div>
