---
title: Welcome to CrossCat
---

<p class="lead">
	A fully Bayesian nonparametric method for analyzing heterogenous, high dimensional data.
</p>

<div class="alert alert-info" align="center">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h3><a href="https://github.com/probcomp/crosscat" target="_blank">CrossCat Developer Alpha 0.1.0 Released!</a></h3>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 id="Overview">Overview</h1>
		<p>CrossCat is a domain-general, Bayesian method for analyzing
		high-dimensional data tables. CrossCat estimates the full joint
		distribution over the variables in the table from the data, via
		approximate inference in a hierarchical, nonparametric Bayesian model,
		and provides efficient samplers for every conditional distribution.
		CrossCat combines strengths of nonparametric mixture modeling and
		Bayesian network structure learning: it can model any joint
		distribution given enough data by positing latent variables, but also
		discovers independencies between the observable variables.</p>

		<p>A range of exploratory analysis and predictive modeling tasks can be
		addressed via CrossCat, including detecting predictive relationships
		between variables, finding multiple overlapping clusterings, imputing
		missing values, and simultaneously selecting features and classifying
		rows. Research on CrossCat has shown that it is suitable for analysis
		of real-world tables of up to 10 million cells, including hospital
		cost and quality measures, voting records, handwritten digits, and
		state-level unemployment time series.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<h1 id="Download">Download</h1>
		<p>
		Release v0.1:
		[<a href="downloads/crosscat-v0.1-alpha-virtualbox_20131122.tgz">VirtualBox VM</a>] (<a href="https://www.virtualbox.org/wiki/Downloads">player</a>) <!-- VMware VM (<a href="https://my.vmware.com/web/vmware/free#desktop_end_user_computing/vmware_player/6_0">player</a>) --!>
		Documentation: [<a href="https://github.com/probcomp/vm-install-crosscat/blob/master/VM_README.md">VM README</a>] [<a href="https://docs.google.com/file/d/0B_CtKGJ4pH2TdmNRZkhmamg5aVU/edit?usp=drive_web">Python Client</a>] [<a href="https://docs.google.com/file/d/0B_CtKGJ4pH2TeVo0Zk5IT3V6S0E/edit?usp=drive_web">C++ backend</a>]
		Source: [<a href="https://github.com/probcomp/crosscat">github</a>]
		</p>
		<hr>
		
		<h1 id="Publications">Publications</h1>
		<p>Shafto, P., Kemp, C., Mansinghka, V.K., & Tenenbaum, J.B. (2011). A probabilistic model of cross-categorization. Cognition, 120, 1-25. <a href="http://shaftolab.com/lab_papers/repository/crosscat.pdf">pdf</a></p>
		<p>Mansinghka, V., Shafto, P., Jonas, E., Petschulat, C., Gasner, M., & Tenenbaum, J.B. (accepted pending revision). CrossCat: A fully Bayesian nonparametric method for analyzing heterogenous, high dimensional data. Journal of Machine Learning Research.</p>
		<p>Li, D. & Shafto, P. (2011). Bayesian hierarchical cross-clustering.  Proceedings of the Fourteenth International Conference on Artificial Intelligence and Statistics. JMLR W&CP, 15, 443-451.</p>

		<hr>
		
		<h1 id="About">About</h1>
		<p>CrossCat and its sister project, BayesDB, are being developed by Jay Baxter, Dan Lovell, and Vikash Mansinghka at Massachusetts Institute of Technology and by Pat Shafto and Baxter Eaves at University of Louisville.</p>
		<p>If you have any comments or questions, please feel free to email us at crosscat [AT] mit.edu.</p>
		<p>This research and development is supported in part by the DARPA XDATA program.</p>
	</div>
</div>
